section(class=personalSection)
	div(class=container)
		+h2(personalSectionText.h2, ClasspersonalTitle__h2)
		div(class=personalWrapper)
			div(class=personalInner)
				div(class=personalSectionInnerTitle)
					+h3(personalSectionText.h3__1, ClasspersonalTitle__h3)
					+icon(
						personalcon__h3.viewBox,
						personalcon__h3.width,
						personalcon__h3.height,
						personalcon__h3.id,
					)
				+p(personalSectionText.p1__1, ClasspersonalParagraph__p)
			div(class=personalInner)
				div(class=personalSectionInnerTitle)
					+h3(personalSectionText.h3__2, ClasspersonalTitle__h3)
					+icon(
						personalcon__h3.viewBox,
						personalcon__h3.width,
						personalcon__h3.height,
						personalcon__h3.id,
					)
				+p(personalSectionText.p1__2, ClasspersonalParagraph__p)
			div(class=personalInner)
				div(class=personalSectionInnerTitle)
					+h3(personalSectionText.h3__3, ClasspersonalTitle__h3)
					+icon(
						personalcon__h3.viewBox,
						personalcon__h3.width,
						personalcon__h3.height,
						personalcon__h3.id,
					)
				+p(personalSectionText.p1__3, ClasspersonalParagraph__p)
			div(class=personalInner)
				div(class=personalSectionInnerTitle)
					+h3(personalSectionText.h3__4, ClasspersonalTitle__h3)
					+icon(
						personalcon__h3.viewBox,
						personalcon__h3.width,
						personalcon__h3.height,
						personalcon__h3.id,
					)
				+p(personalSectionText.p1__4, ClasspersonalParagraph__p)
			div(class=personalInner)
				div(class=personalSectionInnerTitle)
					+h3(personalSectionText.h3__5, ClasspersonalTitle__h3)
					+icon(
						personalcon__h3.viewBox,
						personalcon__h3.width,
						personalcon__h3.height,
						personalcon__h3.id,
					)
				+p(personalSectionText.p1__5, ClasspersonalParagraph__p)
			div(class=personalInner)
				div(class=personalSectionInnerTitle)
					+h3(personalSectionText.h3__6, ClasspersonalTitle__h3)
					+icon(
						personalcon__h3.viewBox,
						personalcon__h3.width,
						personalcon__h3.height,
						personalcon__h3.id,
					)
				+p(personalSectionText.p1__6, ClasspersonalParagraph__p)
			div(class=personalInner)
				div(class=personalSectionInnerTitle)
					+h3(personalSectionText.h3__7, ClasspersonalTitle__h3)
					+icon(
						personalcon__h3.viewBox,
						personalcon__h3.width,
						personalcon__h3.height,
						personalcon__h3.id,
					)
				+p(personalSectionText.p1__7, ClasspersonalParagraph__p)