section(class=offerSection)
	div(class=container)
		+h2(offerSectionText.h2, ClassofferTitle__h2)
		div(class=offerSectionWrapper)
			div(class=offerInner)
				+h3(offerSectionText.h3__1, ClassofferTitle__h3)
				+p(offerSectionText.p1__1, ClassofferParagraph__p)
				+p(offerSectionText.li1__1, ClassofferParagraph__p)
				+p(offerSectionText.li1__2, ClassofferParagraph__p)
				+p(offerSectionText.li1__3, ClassofferParagraph__p)
				+p(offerSectionText.price1, ClassofferParagraph__p+ClassofferParagraph__price)
				+button(button, offerSectionText.button)
				
			div(class=offerInner)
				+h3(offerSectionText.h3__2, ClassofferTitle__h3)
				+p(offerSectionText.p1__2, ClassofferParagraph__p)
				+p(offerSectionText.li2__1, ClassofferParagraph__p)
				+p(offerSectionText.li2__2, ClassofferParagraph__p)
				+p(offerSectionText.li2__3, ClassofferParagraph__p)
				+p(offerSectionText.price2, ClassofferParagraph__p+ClassofferParagraph__price)
				+button(button, offerSectionText.button)

			div(class=offerInner)
				+h3(offerSectionText.h3__3, ClassofferTitle__h3)
				+p(offerSectionText.p1__3, ClassofferParagraph__p)
				+p(offerSectionText.li3__1, ClassofferParagraph__p)
				+p(offerSectionText.li3__2, ClassofferParagraph__p)
				+p(offerSectionText.li3__3, ClassofferParagraph__p)
				+p(offerSectionText.price3, ClassofferParagraph__p+ClassofferParagraph__price)
				+button(button, offerSectionText.button)