section(class=offerSection)
	div(class=container)
		+h2(offerSectionText.h2, ClassofferTitle__h2)
		div(class=offerWrapper)
			div(class=offerInner)
				+h3(offerSectionText.h3__1, ClassofferTitle__h3)
				+p(offerSectionText.p1__1, ClassofferParagraph__p)
			div(class=offerInner)
				+h3(offerSectionText.h3__2, ClassofferTitle__h3)
				+p(offerSectionText.p1__2, ClassofferParagraph__p)
			div(class=offerInner)
				+h3(offerSectionText.h3__3, ClassofferTitle__h3)
				+p(offerSectionText.p1__3, ClassofferParagraph__p)
			div(class=offerInner)
				+h3(offerSectionText.h3__4, ClassofferTitle__h3)
				+p(offerSectionText.p1__4, ClassofferParagraph__p)
			div(class=offerInner)
				+h3(offerSectionText.h3__5, ClassofferTitle__h3)
				+p(offerSectionText.p1__5, ClassofferParagraph__p)