//- folders
- let folderContentName = 'content'
- let folderDecorName = 'decor'
- let folderIconsName = 'icons'
- let folderSpriteName = 'sprite'

- let imagesFolder = 'images'

//- types files
- let png = '.png'
- let jpg = '.jpg'
- let webp = '.webp'
- let avif = '.avif'

- let typesWebp = 'image/webp'
- let typesAvif = 'image/avif'
- let logoPng = 'logoPng'
- let logoJpg = 'logoJpg'
- let logoWebp = 'logoWebp'

//- imagesNames
- let logoPicture = 'logo'
- let introSection__mainOffer = 'woman'

-
	let logoImages = {
		paths: {
			path: `${imagesFolder}/${folderIconsName}/${logoPicture}` + sizes1000[0],
			path2x: `${imagesFolder}/${folderIconsName}/${logoPicture}` + sizes1000[1],
		},
		type: 'image/webp',
		alt: 'EaseWeb, сайты, которые продают'
	}
-
	let introSections = {
		paths: {
			path: `${imagesFolder}/${folderContentName}/${introSection__mainOffer}` + sizes1000[0],
			path2x: `${imagesFolder}/${folderContentName}/${introSection__mainOffer}` + sizes1000[1],
		},
		type: 'image/webp',
		alt: 'EaseWeb, сайты, которые продают'
	}

-
	let imagesArr = [
		logoImage,
		introSection
	]

//- media
-
	let mediaArr = [
		'(min-width: 768px)',
		'(min-width: 1024px)',
		'(min-width: 1440px)',
	]