section(class=priceSection)
	div(class=container)
		+h2(priceSectionText.h2, ClasspriceTitle__h2)
		div(class=priceWrapper)
			div(class=priceInner)
				+p(priceSectionText.p1__1, ClasspriceParagraph__p)
			div(class=priceInner)
				+p(priceSectionText.p1__2, ClasspriceParagraph__p)