section(class=tarifSection)
	div(class=container)
		+h2(tarifSectionText.h2, ClasstarifTitle__h2)
		div(class=tarifWrapper)
			div(class=tarifInner)
				+h3(tarifSectionText.h3__1, ClasstarifTitle__h3)
				+p(tarifSectionText.p1__1, ClasstarifParagraph__p)
			div(class=tarifInner)
				+h3(tarifSectionText.h3__2, ClasstarifTitle__h3)
				+p(tarifSectionText.p1__2, ClasstarifParagraph__p)
			div(class=tarifInner)
				+h3(tarifSectionText.h3__3, ClasstarifTitle__h3)
				+p(tarifSectionText.p1__3, ClasstarifParagraph__p)
			div(class=tarifInner)
				+h3(tarifSectionText.h3__4, ClasstarifTitle__h3)
				+p(tarifSectionText.p1__4, ClasstarifParagraph__p)