div(class=classSliderCaseSlide)
	div(class=classSliderCaseSlideWrapper)
		div(class=classSliderCaseSlideInner)
			div(class=swiperSliderImage)
				+picture(
					caseSectionImages6.alt,
					caseSectionImages6.type,
					caseSectionImages6.path,
					caseSectionImages6.path2x,
				)
			div(class=swiperTextWrapper)
				+a(urlLinkCase.jewwlery, caseText.p1__7)