div(class=classSliderCaseSlide)
	div(class=classSliderCaseSlideWrapper)
		div(class=classSliderCaseSlideInner)
			div(class=swiperSliderImage)
				+picture(
					caseSectionImages4.alt,
					caseSectionImages4.type,
					caseSectionImages4.path,
					caseSectionImages4.path2x,
				)
			div(class=swiperTextWrapper)
				+a(urlLinkCase.portfolio, caseText.p1__5)