div(class=classSliderCaseSlide)
	div(class=classSliderCaseSlideWrapper)
		div(class=classSliderCaseSlideInner)
			div(class=swiperSliderImage)
				+picture(
					caseSectionImages.alt,
					caseSectionImages.type,
					caseSectionImages.path,
					caseSectionImages.path2x,
				)
			div(class=swiperTextWrapper)
				+a(urlLinkCase.aqualife, caseText.p1__1)