div(class=classSliderCaseSlide)
    div(class=classSliderCaseSlideWrapper)
        div(class=classSliderCaseSlideInner)
            div(class=swiperSliderImage)
                include ../../../pictures/page__index/content/woman
            div(class=swiperTextWrapper)
                +h2(swiperCaseText.slide1H2)
                div(class=paragraph__icon)
                    +p(swiperCaseText.slide1Paraghraph1)
                    include ../../../pictures/page__index/icons/aprove
                div(class=paragraph__icon)
                    +p(swiperCaseText.slide1Paraghraph2)
                    include ../../../pictures/page__index/icons/aprove
                +a(urlLinkSwiperCase, swiperCaseText.slide1Link2)