div(class=classSliderCaseSlide)
	div(class=classSliderCaseSlideWrapper)
		div(class=classSliderCaseSlideInner)
			div(class=swiperSliderImage)
				+picture(
					caseSectionImages3.alt,
					caseSectionImages3.type,
					caseSectionImages3.path,
					caseSectionImages3.path2x,
				)
			div(class=swiperTextWrapper)
				+a(urlLinkCase.metaUniverse, caseText.p1__4)