div(class=classSliderCaseSlide)
	div(class=classSliderCaseSlideWrapper)
		div(class=classSliderCaseSlideInner)
			div(class=swiperSliderImage)
				+picture(
					caseSectionImages1.alt,
					caseSectionImages1.type,
					caseSectionImages1.path,
					caseSectionImages1.path2x,
				)
			div(class=swiperTextWrapper)
				+a(urlLinkCase.motherPlata, caseText.p1__2)