div(class=classSliderCaseSlide)
	div(class=classSliderCaseSlideWrapper)
		div(class=classSliderCaseSlideInner)
			div(class=swiperSliderImage)
				+picture(
					caseSectionImages5.alt,
					caseSectionImages5.type,
					caseSectionImages5.path,
					caseSectionImages5.path2x,
				)
			div(class=swiperTextWrapper)
				+a(urlLinkCase.computer, caseText.p1__6)