div(class=classSliderCaseSlide)
    div(class=classSliderCaseSlideWrapper)
        div(class=classSliderCaseSlideInner)
            div(class=swiperSliderImage)
                include ../../../pictures/page__index/content/case
            div(class=swiperTextWrapper)
                +a(urlLinkSwiperCase, swiperCaseText.slide1Link2)