div(class=classSliderCaseSlide)
	div(class=classSliderCaseSlideWrapper)
		div(class=classSliderCaseSlideInner)
			div(class=swiperSliderImage)
				+picture(
					caseSectionImages2.alt,
					caseSectionImages2.type,
					caseSectionImages2.path,
					caseSectionImages2.path2x,
				)
			div(class=swiperTextWrapper)
				+a(urlLinkCase.nft, caseText.p1__3)