-
	let logoMainImage = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderIconsName}/${logoName}` + '@500x500',
		path2x: `${imagesFolder}/${folderIconsName}/${logoName}` + '@2x',
	}

-
	let introSectionImagesWoman = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '@1750x1750',
		path2x: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '@2x',
	}

-
	let introSectionImagesWoman1 = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '1' + '@3250x3250',
		path2x: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '1' + '@2x',
	}

-
	let introSectionImagesWoman2 = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '2' + '@1850x1850',
		path2x: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '2' + '@2x',
	}

