-
	let logoMainImage = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderIconsName}/${logoName}` + '@500x500',
		path2x: `${imagesFolder}/${folderIconsName}/${logoName}` + '@2x',
	}

-
	let introSectionImagesWoman = {
		alt: 'EaseWeb, сайты, которые продают',
		type: 'image/webp',
		path: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '@1750x1750',
		path2x: `${imagesFolder}/${folderContentName}/${introSectionWoman}` + '@2x',
	}
