extends ../../../../layout/sliders/sliderMain/sliderMain

block mainWrapper
    div(class=classSliderOffer id=swiperOfferID)
        block wrapper
            div(class=classSliderOfferWrapper)
                block includes
                    include slide-blocks/slide1
                    include slide-blocks/slide2
                    include slide-blocks/slide3

            block pagination
                div(class=swiperPagination)
            block navigation
                div(class=swiperButtonPrev)
                div(class=swiperButtonNext)
            block scrollbar
                div(class=swiperScrollbar)

