extends ../../../../layout/sliders/sliderMain/sliderMain

block mainWrapper
    div(class=classSliderCase id=swiperCaseID)
        block wrapper
            div(class=classSliderCaseWrapper)
                block includes
                    include slide-blocks/slide1
            block pagination
                div(class=swiperPagination)
            block navigation
                div(class=swiperButtonPrev)
                div(class=swiperButtonNext)
