extends ../../../../layout/sliders/sliderMain/sliderMain

block form
    form(id='formMainSlider')
        block mainWrapper
            div(class=arraySliderClassWrappers[3])
                block mainWrapper
                    div(class=arraySlidersClass[0] id=swiperMainID)
                        block wrapper
                            div(class=arraySliderClassWrappers[0])
                                block includes
                                    include slide-blocks/slidesMain/slide2
                                    include slide-blocks/slidesMain/slide3
                                    include slide-blocks/slidesMain/slide4
                                    include slide-blocks/slidesMain/slide5
                                    
                            block pagination
                                div(class=arraySliderNavigation[0])
                            block navigation
                                div(class=arraySliderNavigation[1])
                                div(class=arraySliderNavigation[2])
                            block scrollbar
                                div(class=arraySliderNavigation[3])
        